#                   Function Assignment:

### 1. Write a Python function to find the maximum of three numbers.

In [1]:
def max_num1(a,b,c):
    return f"Maximum number is: {max(a,b,c)}"

In [2]:
max_num1(5,7,2)

'Maximum number is: 7'

In [3]:
def max_num(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        return f" The Maximum number is: {num1}"
    elif num2 > num1 and num2 > num3:
        return f" The Maximum number is: {num2}"
    else:
        return f" The Maximum number is: {num3}"

In [4]:
max_num(5, 7, 2)

' The Maximum number is: 7'

### 2. Write a Python function to sum all the numbers in a list. 
- Sample List : (8, 2, 3, 0, 7) 
- Expected Output : 20

In [5]:
def sum_list(num):
    return f"Sum of all number: {sum(num)}"

In [6]:
same_lst = (1,2,3,4,5,6,7,8,9)

In [7]:
sum_list(same_lst)

'Sum of all number: 45'

In [8]:
def sum_lst(numbers):
    total = 0
    for number in numbers:
        total += number
    return f"Total of all number is: {total}"

In [9]:
sum_lst1 = (8,2,3,0,7)

In [10]:
sum_lst(sum_lst1)

'Total of all number is: 20'

### 3. Write a Python function to multiply all the numbers in a list. 
- Sample List : (8, 2, 3, -1, 7) 
- Expected Output : -336

In [11]:
def multiply(numbers):
    num = 1
    for number in numbers:
        num *= number
    return f"Output: {num}"

In [12]:
mul = (8,2,3,-1,7)

In [13]:
multiply(mul)

'Output: -336'

### 4. Write a Python program to reverse a string. 
- Sample String : "1234abcd" 
- Expected Output : "dcba4321"

In [14]:
def rev_str(lst):
    return lst[::-1]

In [15]:
str1 = "1234abcd"

In [16]:
rev_str(str1)

'dcba4321'

In [17]:
def rev_str1(lst):
    rev = ""
    for i in lst:
        rev = i + rev
    return rev

In [18]:
rev1 = "1,2,3,4,a,b,c,d"
rev_str1(rev1)

'd,c,b,a,4,3,2,1'

### 5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [19]:
def factotial(num):
    if num < 0:
        raise ValueError("The factorial is not deriv < 0")
    if num == 0 or num == 1:
        return 1
    return num * factotial( num - 1)

In [20]:
factotial(5)

120

### 6. Write a Python function to check whether a number falls within a given range.

In [21]:
def is_in_range(number, start, end):
    return number >= start and number <= end

In [22]:
print(is_in_range(11,10,12))

True

### 7. Write a Python function that accepts a string and counts the number of upper
- and lower case letters.
- Sample String : 'The quick Brow Fox'
- Expected Output :
- No. of Upper case characters : 3
- No. of Lower case Characters : 12

In [23]:
def str_count(abc):
    upper_case = 0
    lower_case = 0
    total = 0
    for character in abc:
        if character.isupper():
            upper_case += 1
        elif character.islower():
            lower_case += 1
    return f""" Sentence is : Number of Upper_Case is: {upper_case}    Number of Lower_Case is: {lower_case}"""

In [24]:
str_count("The quick Brow Fox")

' Sentence is : Number of Upper_Case is: 3    Number of Lower_Case is: 12'

### 8. Write a Python function that takes a list and returns a new list with distinct
- elements from the first list.
- Sample List : [1,2,3,3,3,3,4,5]
- Unique List : [1, 2, 3, 4, 5]

In [25]:
def uni_lst(num):
    return list(set(num))

In [26]:
uni_lst1 = (1,2,3,3,3,3,4,5)

In [27]:
uni_l = uni_lst(uni_lst1)

In [28]:
print("Unique list: ",uni_l)

Unique list:  [1, 2, 3, 4, 5]

### 9. Write a Python function that takes a number as a parameter and checks whether the number is prime or not.
- Note : A prime number (or a prime) is a natural number greater than 1 and that
- has no positive divisors other than 1 and itself.

In [29]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range (2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [30]:
is_prime(2)

True

### 10. Write a Python program to print the even numbers from a given list.
- Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
- Expected Result : [2, 4, 6, 8]

In [31]:
def even_num(num):
    even = []
    for i in num:
        if i % 2 == 0:
            even.append(i)
    return even

In [32]:
sample = [1,2,3,4,5,6,7,8,9]

In [33]:
even_n = even_num(sample)
print("Even numbers: ", even_n)

Even numbers:  [2, 4, 6, 8]

### 11. 
- Write a Python function to check whether a number is "Perfect" or not. According to Wikipedia : In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself). Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.

In [34]:
def is_perfect(number):
    if number < 1:
        return False
    divisors_sum = sum([i for i in range(1, number) if number % i == 0])
    return divisors_sum == number

In [35]:
# Example usage
num = 28
if is_perfect(num):
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

28 is a perfect number.

### Write a Python function that checks whether a passed string is a palindrome or not.
- Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [36]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for uniformity
    s = s.replace(" ", "").lower()
    return s == s[::-1]

# Example usage
string = "nurses run"
if is_palindrome(string):
    print(f'"{string}" is a palindrome.')
else:
    print(f'"{string}" is not a palindrome.')

"nurses run" is a palindrome.