# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello", 10, 12>11, 99.9 )

Hello 10 True 99.9

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("Hello", 12, 12>13, 99.8, sep="-")

Hello-12-False-99.8

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
print("Hello", 12, 12>13, 99.8, sep="   ")

Hello 12 False 99.8

4) Can a python print function take no value to print???

In [8]:
print("")

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [11]:
name = "Mr. Ahmed"
age = 30
profession = "Lawer"
graduation_year = 2005
working_year = 2015
firm_name = "The Himalya Associates"
height = 5.10
weight = 70600
income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [38]:
old = 2024 - graduation_year 
print(f" Mr. Ahmed have done {old}-years after graguation: ")

 Mr. Ahmed have done 19-years after graguation:

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [14]:
worked = working_year - graduation_year
print(f"After bachelors degree Mr. Ahmed {worked} years of working expiriance: ")

After bachelors degree Mr. Ahmed 10 years of working expiriance:

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [21]:
inc_in_usd = 200000 / 278.25
print(f"Mr. Ahmed's monthly income is {income}pkr: . & when convert in Dollar's {inc_in_usd}$ ")

Mr. Ahmed's monthly income is 200000pkr: . & when convert in Dollar's 718.7780772686433$

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [26]:
inc_in_usd
print(type(inc_in_usd))
print(f"Mr. Ahmed's monthly income is {income}pkr: . & when convert in Dollar's {int(inc_in_usd)} $ ")
print(type(int(inc_in_usd)))

<class 'float'>
Mr. Ahmed's monthly income is 200000pkr: . & when convert in Dollar's 718 $
<class 'int'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [35]:
weight_in_kg = weight / 1000
print(f"Mr. Ahmed's weight in grams {weight}, and kilograms {int(weight_in_kg)} kg")

Mr. Ahmed's weight in grams 70600, and kilograms 70 kg

In [21]:
#11) print the year of birth of Mr. Ahmed.

In [42]:
old1 = 2024 - age
print(f"Mr. Ahmed is {old1} year old")

Mr. Ahmed is 1994 year old

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [43]:
amount = 100
students = 6
remainder = amount % students
print(f"Can Rs. 100 be divided equally among 6 students? {'No' if remainder != 0 else 'Yes'}")

Can Rs. 100 be divided equally among 6 students? No

In [45]:
remainder = amount % students
remainder

4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [53]:
name = input("Enter your name: ")
course = input("Enter your course name: ")
day1 = input("Day1 Class: ")
day2 = input("Day2 Class: ")

s_id = int(input("ID: "))

print(f"""               
                     Saylani Mass IT:
                 Name  : {name} 
                 Course: {course}
                 Days  : Tuesday: {time}, Thursday {time1}
                 ID    : {s_id}""")

Enter your name: Sunny Bharthi
Enter your course name: Data_Science and AI
Day1 Class: Tuesday
Day2 Class: Thursday
ID: 335405

                     Saylani Mass IT:
                 Name  : Sunny Bharthi
                 Course: Data_Science and AI
                 Days  : Tuesday: 5.7, Thursday 5.7
                 ID    : 335405